.about {
  margin-top: 30px;
  padding: 0 1.2rem;
  position: relative;

  @media screen and (min-width: 768px) {
    margin-top: 50px;

  }

  &_title {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-secction-text);

    @media screen and (min-width: 768px) {
      font-size: 3rem;

    }

    span {
      color: var(--color-blue);
    }
  }

  &_description {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: var(--color-secction-text);
  }

  .about-circle {
    position: absolute;
    top: 230px;
    left: -120px;
    z-index: -1;
  }

  .about-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  @media screen and (min-width: 768px) {
    .about-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }
}