<article class="card bg-white shadow-lg rounded-2xl">
  <div class="card-perfil">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="28"
      height="32"
      fill="none"
      viewBox="0 0 28 32"
    >
      <g clip-path="url(#a)">
        <path
          fill="#fff"
          d="m19.729 19.537-5.771 5.61-5.77-5.61c-4.326.183-7.78 3.623-7.78 7.867a3.37 3.37 0 0 0 1.032 2.42 3.573 3.573 0 0 0 2.49 1.003h20.055c.933 0 1.829-.36 2.49-1.002a3.376 3.376 0 0 0 1.03-2.42c0-4.245-3.453-7.686-7.777-7.868Zm-5.771-.811c2.053 0 3.9-.923 5.351-2.334 1.452-1.412 2.39-3.326 2.39-5.323V4.59a1.846 1.846 0 0 0-.343-1.073 1.928 1.928 0 0 0-.912-.69L15.317.958a3.975 3.975 0 0 0-2.718 0L7.472 2.83a1.929 1.929 0 0 0-.911.69 1.846 1.846 0 0 0-.345 1.071v6.48c0 1.996 1.015 3.91 2.467 5.322 1.452 1.411 3.222 2.334 5.275 2.334Zm-2.42-13.792a.29.29 0 0 1 .09-.207.307.307 0 0 1 .213-.087h1.31V3.366a.29.29 0 0 1 .09-.208.307.307 0 0 1 .213-.086h1.008c.08 0 .157.031.214.086a.29.29 0 0 1 .088.208V4.64h1.31c.081 0 .158.031.215.087a.29.29 0 0 1 .088.207v.98a.29.29 0 0 1-.088.208.307.307 0 0 1-.214.086h-1.31v1.274a.29.29 0 0 1-.09.208.307.307 0 0 1-.213.086h-1.008a.307.307 0 0 1-.214-.086.29.29 0 0 1-.088-.208V6.208H11.84a.307.307 0 0 1-.214-.086.29.29 0 0 1-.088-.208v-.98ZM9.12 10.13h9.678v.94a4.64 4.64 0 0 1-1.418 3.327c-.907.882-2.138 1.673-3.421 1.673s-2.514-.79-3.422-1.673A4.64 4.64 0 0 1 9.12 11.07v-.94Z"
        ></path>
      </g>
      <defs>
        <clipPath id="a">
          <path
            fill="#fff"
            d="M0 0h26.871v30.71H0z"
            transform="translate(.259 .72)"></path>
        </clipPath>
      </defs>
    </svg>
  </div>
  <div class="card-content">
    <div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="43"
          height="42"
          fill="none"
          viewBox="0 0 43 42"
        >
          <path
            fill="#0E63DC"
            fill-rule="evenodd"
            d="M15.489 6.214a2.618 2.618 0 0 1 2.618-2.618h6.983a2.618 2.618 0 0 1 2.618 2.618h2.619a2.618 2.618 0 0 1 2.618 2.619v13.092H31.2V8.833a.873.873 0 0 0-.873-.873h-2.619a2.618 2.618 0 0 1-2.618 2.619h-6.983A2.619 2.619 0 0 1 15.49 7.96h-2.62a.873.873 0 0 0-.872.873v24.439a.873.873 0 0 0 .872.873h10.474v1.745H12.87a2.619 2.619 0 0 1-2.618-2.618V8.832a2.618 2.618 0 0 1 2.618-2.618h2.619Zm2.618-.872a.873.873 0 0 0-.872.872V7.96a.873.873 0 0 0 .872.873h6.983a.873.873 0 0 0 .873-.873V6.214a.873.873 0 0 0-.873-.872h-6.983Zm2.619 8.728v2.618h-2.619v1.746h2.619v2.618h1.745v-2.618h2.619v-1.746h-2.62V14.07h-1.745Zm4.364 9.6a.873.873 0 0 0-.873.874v5.925a6.11 6.11 0 0 0 2.72 5.084l2.905 1.937a.873.873 0 0 0 .97 0l2.904-1.938a6.109 6.109 0 0 0 2.72-5.082v-5.926a.873.873 0 0 0-.872-.873H25.09Zm8.472 4.982-3.49 3.491a.873.873 0 0 1-1.235 0l-1.746-1.745 1.234-1.235 1.129 1.13 2.874-2.875 1.234 1.234Z"
            clip-rule="evenodd"></path>
        </svg>

        <h2>+4 Year</h2>
      </div>
      <p>Experiencia</p>
    </div>
    <div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="34"
          height="34"
          fill="none"
          viewBox="0 0 34 34"
        >
          <path
            fill="#0E63DC"
            d="M12.61 20.9v.817a6.305 6.305 0 1 0 12.61 0v-2.34a4.204 4.204 0 1 1 2.802 0v2.34a9.107 9.107 0 0 1-18.214 0V20.9a8.41 8.41 0 0 1-7.006-8.29V5.604a2.802 2.802 0 0 1 2.802-2.802h1.402a1.401 1.401 0 1 1 0 2.802H5.604v7.006a5.604 5.604 0 1 0 11.21 0V5.604h-1.402a1.4 1.4 0 1 1 0-2.802h1.401a2.802 2.802 0 0 1 2.803 2.802v7.006a8.41 8.41 0 0 1-7.006 8.29Zm14.011-4.087a1.401 1.401 0 1 0 0-2.802 1.401 1.401 0 0 0 0 2.802Z"
          ></path>
        </svg>

        <h2>Dr DevCruz</h2>
      </div>
      <p>Medico General</p>
    </div>
    <div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="29"
          height="33"
          fill="none"
          viewBox="0 0 29 33"
        >
          <g clip-path="url(#a)">
            <path
              fill="#0E63DC"
              d="M29 31.681v1.255H.886v-1.255c0-.416.337-.753.753-.753h1.255V8.336c0-.831.674-1.506 1.506-1.506h5.523V2.312c0-.832.674-1.506 1.506-1.506h7.028c.832 0 1.506.674 1.506 1.506V6.83h5.523c.831 0 1.506.675 1.506 1.506v22.592h1.255c.416 0 .753.337.753.753Zm-8.786-18.826h-2.51a.753.753 0 0 0-.753.753v2.51c0 .416.337.753.753.753h2.51a.753.753 0 0 0 .753-.753v-2.51a.753.753 0 0 0-.753-.753ZM9.672 16.87h2.51a.753.753 0 0 0 .753-.753v-2.51a.753.753 0 0 0-.753-.753h-2.51a.753.753 0 0 0-.753.753v2.51c0 .416.337.753.753.753Zm6.526 8.033h-2.51a.753.753 0 0 0-.753.753v5.271h4.016v-5.271a.753.753 0 0 0-.753-.753Zm4.016-6.025h-2.51a.753.753 0 0 0-.753.753v2.51c0 .416.337.753.753.753h2.51a.753.753 0 0 0 .753-.753v-2.51a.753.753 0 0 0-.753-.753Zm-7.28.753a.753.753 0 0 0-.752-.753h-2.51a.753.753 0 0 0-.753.753v2.51c0 .416.337.753.753.753h2.51a.753.753 0 0 0 .753-.753v-2.51ZM12.308 6.83h1.632v1.632a.377.377 0 0 0 .376.377h1.255a.377.377 0 0 0 .377-.377V6.83h1.632a.377.377 0 0 0 .376-.376V5.199a.377.377 0 0 0-.376-.377h-1.632V3.191a.376.376 0 0 0-.377-.377h-1.255a.377.377 0 0 0-.376.377v1.631h-1.632a.377.377 0 0 0-.376.377v1.255a.377.377 0 0 0 .376.376Z"
            ></path>
          </g>
          <defs>
            <clipPath id="a">
              <path
                fill="#fff"
                d="M0 0h28.114v32.13H0z"
                transform="translate(.886 .806)"></path>
            </clipPath>
          </defs>
        </svg>

        <h2>Servicio</h2>
      </div>
      <p>Adomicilio</p>
    </div>
  </div>
</article>

<style lang="scss">
  :root {
    --color-secction-bg: #f4f7fd;
    --color-secction-text: #333;
    --color-secction-description: rgb(117, 115, 115);
    --color-blue: #1d4ed8;
    --color-blue-claro: #a8bfff;
  }
  .card {
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;

    align-items: center;
    position: relative;
    @media screen and (min-width: 728px) {
      width: 100%;
      top: -120px;
      transform: translateX(50%);
    }

    &-perfil {
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--color-blue);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card-content {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      div {
        display: flex;
        flex-direction: column;

        p {
          color: var(--color-secction-description);
        }
        div {
          display: flex;
          align-items: center;
          flex-direction: column;

          gap: 10px;
          h2 {
            color: var(--color-secction-text);
            font-weight: 600;
          }
        }
      }
    }
  }
</style>
