---
import CardAbout from './ui-components/CardAbout.astro';
---

<section>
  <h2>Por que deberia <span> Preferirnos?</span></h2>
  <p>Los mejores servicios para ti</p>
  <div class="about-container">
    <div class="about-img">
      <img src="about.png" alt="img de about" />
    </div>
    <div class="about-circle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="355"
        height="352"
        fill="none"
        viewBox="0 0 355 352"
      >
        <path
          fill="#6CAAF2"
          fill-opacity=".5"
          d="M355 176c0 97.202-79.469 176-177.5 176C79.47 352 0 273.202 0 176S79.47 0 177.5 0C275.531 0 355 78.798 355 176Zm-317.9 0c0 76.885 62.86 139.213 140.4 139.213S317.899 252.885 317.899 176c0-76.885-62.859-139.213-140.399-139.213C99.96 36.787 37.1 99.115 37.1 176Z"
        ></path>
      </svg>
    </div>

    <div class="about-cards">
      <CardAbout
        title="10 años de experiencia"
        description="Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit amet elit"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="37"
          height="37"
          fill="none"
          viewBox="0 0 37 37"
        >
          <path
            fill="#F4F6F9"
            d="m13.332 22.68 5.163 5.07 5.165-5.07a3.282 3.282 0 0 0 0-4.732 3.43 3.43 0 0 0-4.82 0l-.345.338-.345-.338a3.429 3.429 0 0 0-4.818 0 3.283 3.283 0 0 0 0 4.732Z"
          ></path>
          <path
            fill="#F4F6F9"
            d="M29.292 6.167h-3.084V3.083h-3.083v3.084h-9.25V3.083h-3.083v3.084H7.708A3.086 3.086 0 0 0 4.625 9.25v21.583c0 1.7 1.383 3.084 3.083 3.084h21.584c1.7 0 3.083-1.383 3.083-3.084V9.25c0-1.7-1.383-3.083-3.083-3.083Zm.003 24.666H7.708v-18.5h21.584l.003 18.5Z"
          ></path>
        </svg>
      </CardAbout>

      <CardAbout
        title="100% Comprometidos con nuestros pacientes"
        description="Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit amet elit"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="33"
          fill="none"
          viewBox="0 0 32 33"
        >
          <path
            fill="#F4F6F9"
            fill-rule="evenodd"
            d="M13.92.712a4.924 4.924 0 0 1 5.103 0l1.811 1.108c2.542 1.554 5.437 1.9 8.345 2.249l.463.056c1.362.164 2.388 1.322 2.348 2.694l-.186 6.36c-.16 5.454-2.585 10.626-6.745 14.384-1.963 1.772-3.994 3.374-6.326 4.705a4.93 4.93 0 0 1-4.536.166 29.876 29.876 0 0 1-7.257-4.871C2.78 23.805.354 18.633.195 13.179L.01 6.838l-.002-.077c-.032-1.324.986-2.426 2.304-2.55 3.427-.326 6.968-.663 9.872-2.438l1.737-1.06ZM11.1 14.231a3.113 3.113 0 0 0 3.113-3.113V9.784a1.779 1.779 0 0 1 3.557 0v1.334a3.113 3.113 0 0 0 3.113 3.113h1.334a1.779 1.779 0 1 1 0 3.557h-1.334a3.113 3.113 0 0 0-3.113 3.113v1.334a1.779 1.779 0 1 1-3.557 0V20.9a3.113 3.113 0 0 0-3.113-3.113H9.766a1.779 1.779 0 0 1 0-3.557H11.1Z"
            clip-rule="evenodd"></path>
        </svg>
      </CardAbout>

      <CardAbout
        title="Consulta gratis"
        description="Lorem ipsum dolor sit amet consectetur ipsum elit. Lorem ipsum dolor sit amet elit"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="29"
          height="42"
          fill="none"
          viewBox="0 0 29 42"
        >
          <path
            fill="#F4F6F9"
            fill-rule="evenodd"
            d="M3.107 5.179a1.036 1.036 0 0 0-1.036 1.035v32.108a1.036 1.036 0 0 0 1.036 1.035h22.786a1.035 1.035 0 0 0 1.036-1.035V6.214a1.035 1.035 0 0 0-1.036-1.035H20.11V3.107h5.783A3.107 3.107 0 0 1 29 6.214v32.108a3.107 3.107 0 0 1-3.107 3.107H3.107A3.107 3.107 0 0 1 0 38.32V6.215a3.107 3.107 0 0 1 3.107-3.107H8.89V5.18H3.107Z"
            clip-rule="evenodd"></path>
          <path
            fill="#F4F6F9"
            fill-rule="evenodd"
            d="M7.25 3.107A3.107 3.107 0 0 1 10.357 0h8.286a3.107 3.107 0 0 1 3.107 3.107V5.18a3.107 3.107 0 0 1-3.107 3.107h-8.286A3.107 3.107 0 0 1 7.25 5.179V3.107Zm3.107-1.036a1.036 1.036 0 0 0-1.036 1.036V5.18a1.036 1.036 0 0 0 1.036 1.035h8.286a1.035 1.035 0 0 0 1.036-1.035V3.107a1.035 1.035 0 0 0-1.036-1.036h-8.286ZM5.18 17.607a1.036 1.036 0 0 1 1.035-1.036h7.25a1.036 1.036 0 1 1 0 2.072h-7.25a1.036 1.036 0 0 1-1.035-1.036Zm0-5.178a1.036 1.036 0 0 1 1.035-1.036h16.054a1.036 1.036 0 1 1 0 2.071H6.214A1.035 1.035 0 0 1 5.18 12.43Zm2.07 13.464v2.071h2.071v-2.071H7.25ZM6.214 23.82a1.035 1.035 0 0 0-1.035 1.036V29a1.036 1.036 0 0 0 1.035 1.036h4.143A1.036 1.036 0 0 0 11.393 29v-4.143a1.035 1.035 0 0 0-1.036-1.036H6.214Zm12.429 2.072a1.035 1.035 0 1 0 .094-2.068 1.035 1.035 0 0 0-.094 2.068Zm0 2.071a3.107 3.107 0 1 0 0-6.214 3.107 3.107 0 0 0 0 6.214ZM14.5 32.397a.995.995 0 0 1 .057-.061c.17-.166.497-.385 1.01-.604 1.037-.44 2.315-.66 3.076-.66.761 0 2.04.22 3.075.66.514.218.84.438 1.01.604l.058.06v1.783H14.5v-1.782ZM18.643 29c-2.075 0-6.214 1.104-6.214 3.296v3.954h12.428v-3.954c0-2.192-4.14-3.296-6.214-3.296Z"
            clip-rule="evenodd"></path>
        </svg>
      </CardAbout>
    </div>
  </div>
</section>

<style lang="scss">
  :root {
    --color-secction-bg: #f4f7fd;
    --color-text-white: #fff;
    --color-secction-text: #333;
    --color-blue: #1d4ed8;
    --color-blue-claro: #a8bfff;
  }

  section {
    margin-top: 30px;
    padding: 0 1.2rem;
    position: relative;
    h2 {
      font-size: 2rem;
      font-weight: 800;
      color: var(--color-secction-text);
      span {
        color: var(--color-blue);
      }
    }
    p {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 2rem;
      color: var(--color-secction-text);
    }

    .about-circle {
      position: absolute;
      top: 230px;
      left: -120px;
      z-index: -1;
    }
  }
</style>
