---
import Form from './ui-components/Form.astro';
---

<section>
  <article>
    <div class="contact-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="80"
        height="70"
        fill="none"
        viewBox="0 0 129 114"
      >
        <path
          fill="#0E63DC"
          d="M77.36 50.42h-6.44v-6.44a6.44 6.44 0 0 0-12.881 0v6.44h-6.44a6.44 6.44 0 1 0 0 12.881h6.44v6.44a6.44 6.44 0 1 0 12.88 0v-6.44h6.44a6.44 6.44 0 0 0 0-12.88Zm39.671-38.64a40.508 40.508 0 0 0-52.552-3.8 40.38 40.38 0 0 0-52.552 61.053l38.641 38.963a19.32 19.32 0 0 0 27.307 0l38.641-38.963a40.382 40.382 0 0 0 .515-57.253Zm-9.081 48.043L69.31 98.465a6.441 6.441 0 0 1-9.146 0l-38.64-38.642a27.628 27.628 0 0 1 0-38.64 27.5 27.5 0 0 1 38.64 0 6.44 6.44 0 0 0 9.145 0 27.5 27.5 0 0 1 38.641 0 27.627 27.627 0 0 1 0 38.77v-.13Z"
        ></path>
      </svg>
    </div>
    <h3>Cita</h3>
    <h2>Reserve su Cita</h2>
    <p>
      Creemos en brindar la mejor atencion a nuestros pasientes cuidar de su
      salud
    </p>
    <a href="#" target="_blank" rel="noopener noreferrer"> Contactar</a>
  </article>
  <div class="contact-form">
    <h2>
      Llene el siguiente formulario para reservar una cita en nuestra clinica
      👨‍⚕️👩‍⚕️
    </h2>
    <Form />
  </div>
</section>

<style lang="scss">
  :root {
    --color-secction-bg: #f4f7fd;
    --color-text-white: #fff;
    --color-secction-text: #333;
    --color-blue: #1d4ed8;
    --color-blue-claro: #a8bfff;
  }
  section {
    margin-top: 30px;
    padding: 0 1.2rem;
    width: 100%;
    background-color: var(--color-secction-bg);
    article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1.2rem;

      .contact-icon {
        margin-bottom: 1.2rem;
      }
      h2 {
        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 1rem;
        color: var(--color-secction-text);
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 400;
        color: var(--color-secction-text);
      }
      p {
        font-size: 1.1rem;
        font-weight: 200;
        margin-bottom: 1rem;
        color: var(--color-secction-text);
      }
      a {
        margin-top: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1d4ed8;
        padding: 1rem;
        color: var(--color-text-white);
        border-radius: 15px;
        filter: drop-shadow(0px 0px 10px #1d4ed8);
      }
    }
    .contact-form {
      margin-top: 50px;
      h2 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: var(--color-secction-text);
      }
    }
  }
</style>
