<section class="bg-slate-800 w-full mt-10 p-5">
  <div class="flex items-center flex-col md:flex-row md:justify-between">
    <div class="w-10 h-10 md:w-15 h-15">
      <img src="/logo.svg" alt="logo" />
    </div>
    <nav class="mt-5">
      <ul
        id="itemsActive"
        class="flex text-sm gap-2 [&>li>a]:md:gap-4 [&>li>a]:text-white md:[&>li>a]:text-lg"
      >
        <li><a class="active p-2 rounded-md" href="#home">Inicio</a></li>
        <li><a class="p-2 rounded-md" href="#services">Servicios</a></li>
        <li><a class="p-2 rounded-md" href="#about">Nosotros</a></li>
        <li><a class="p-2 rounded-md" href="#contact">Contacto</a></li>
        <li><a class="p-2 rounded-md" href="#citas">Citas</a></li>
      </ul>
    </nav>
  </div>
  <div class="md:flex">
    <div class="mt-8 lg:w-4/6">
      <h2 class="text-blue-700 font-bold text-2xl">
        Dev<span class="text-white">Cruz</span>
      </h2>
      <p class="text-white text-base">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio,
        architecto.
      </p>
      <div class="flex gap-4 [&>svg]:text-blue-700 mt-8">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-7 h-7"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z"
          ></path>
        </svg>
        <p class="text-white">+504 9999-9999</p>
      </div>
      <div class="flex gap-4 [&>svg]:text-blue-700 mt-5">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21.75 9v.906a2.25 2.25 0 01-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 001.183 1.981l6.478 3.488m8.839 2.51l-4.66-2.51m0 0l-1.023-.55a2.25 2.25 0 00-2.134 0l-1.022.55m0 0l-4.661 2.51m16.5 1.615a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V8.844a2.25 2.25 0 011.183-1.98l7.5-4.04a2.25 2.25 0 012.134 0l7.5 4.04a2.25 2.25 0 011.183 1.98V19.5z"
          ></path>
        </svg>
        <p class="text-white">correo@correo.com</p>
      </div>
    </div>
    <div class="mt-8 lg:w-3/6">
      <h2 class="text-2xl font-bold text-white">Suscribete</h2>
      <p class="text-md text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum,
        voluptates.
      </p>
      <form class="mt-5">
        <div class="flex gap-4">
          <input
            class="order-2 rounded-md p-2 w-full"
            id="email"
            type="email"
            placeholder="example@email.com"
          />
          <input
            class="order-1 bg-blue-500 hover:bg-blue-800 text-white text-lg uppercase p-2 cursor-pointer rounded-md"
            type="submit"
            value="suscribirte"
          />
        </div>
      </form>
    </div>
  </div>
  <div
    class="flex justify-center mt-8 gap-4 [&>svg]:text-white md:justify-start"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      class="w-9 h-9"
      fill="currentColor"
      ><path fill="none" d="M0 0h24v24H0z"></path><path
        d="M12 2C6.477 2 2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.879V14.89h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.989C18.343 21.129 22 16.99 22 12c0-5.523-4.477-10-10-10z"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      fill="currentColor"
      class="w-9 h-9"
      ><path fill="none" d="M0 0h24v24H0z"></path><path
        d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772 4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 5a5 5 0 1 0 0 10 5 5 0 0 0 0-10zm6.5-.25a1.25 1.25 0 0 0-2.5 0 1.25 1.25 0 0 0 2.5 0zM12 9a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"
      ></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      fill="currentColor"
      class="w-9 h-9"
      ><path fill="none" d="M0 0h24v24H0z"></path><path
        d="M2.004 22l1.352-4.968A9.954 9.954 0 0 1 2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10a9.954 9.954 0 0 1-5.03-1.355L2.004 22zM8.391 7.308a.961.961 0 0 0-.371.1 1.293 1.293 0 0 0-.294.228c-.12.113-.188.211-.261.306A2.729 2.729 0 0 0 6.9 9.62c.002.49.13.967.33 1.413.409.902 1.082 1.857 1.971 2.742.214.213.423.427.648.626a9.448 9.448 0 0 0 3.84 2.046l.569.087c.185.01.37-.004.556-.013a1.99 1.99 0 0 0 .833-.231c.166-.088.244-.132.383-.22 0 0 .043-.028.125-.09.135-.1.218-.171.33-.288.083-.086.155-.187.21-.302.078-.163.156-.474.188-.733.024-.198.017-.306.014-.373-.004-.107-.093-.218-.19-.265l-.582-.261s-.87-.379-1.401-.621a.498.498 0 0 0-.177-.041.482.482 0 0 0-.378.127v-.002c-.005 0-.072.057-.795.933a.35.35 0 0 1-.368.13 1.416 1.416 0 0 1-.191-.066c-.124-.052-.167-.072-.252-.109l-.005-.002a6.01 6.01 0 0 1-1.57-1c-.126-.11-.243-.23-.363-.346a6.296 6.296 0 0 1-1.02-1.268l-.059-.095a.923.923 0 0 1-.102-.205c-.038-.147.061-.265.061-.265s.243-.266.356-.41a4.38 4.38 0 0 0 .263-.373c.118-.19.155-.385.093-.536-.28-.684-.57-1.365-.868-2.041-.059-.134-.234-.23-.393-.249-.054-.006-.108-.012-.162-.016a3.385 3.385 0 0 0-.403.004z"
      ></path>
    </svg>
  </div>
</section>

<style lang="css">
  .active {
    @apply bg-sky-600;
  }
</style>

<script type="module">
  const activeItem = document.querySelector('#itemsActive');
  const items = activeItem.querySelectorAll('a');

  items.forEach((item) => {
    item.addEventListener('click', () => {
      items.forEach((t) => t.classList.remove('active'));
      item.classList.add('active');
    });
  });
</script>
