---
import BannerPerfil from './ui-components/BannerPerfil.astro';
---

<section id="home" class="home">
  <div class="home-content">
    <h1>
      Tu Salud y <span class="">Bienestar</span><br /> es nuestra prioridad
    </h1>
    <p>
      Puedes reservar una cita en línea o llamar al <strong
        >01 800-123-4567
      </strong>
    </p>
    <a class="btn-cita" href="#contact">Agenda Cita</a>
  </div>
  <div class="home_bg">
    <div class="bg-img1">
      <img src="pill_3d.png" alt="pildora" />
    </div>
    <div class="bg-img2">
      <img src="stethoscope_3d.png" alt="stethoscope" />
    </div>
    <div class="bg-img3">
      <img src="syringe_3d.png" alt="syringe" />
    </div>
  </div>
  <BannerPerfil />
</section>
