---
import '../styles/sass/index.scss';
---

<header>
  <nav class="bg-white flex justify-between items-center p-5 h-20">
    <img class="w-12" src="logo.svg" alt="logo" />
    <ul
      class="movile nav absolute flex flex-col justify-center items-center gap-10 w-full h-screen [&>li>a]:text-white [&>li>a]:text-4xl [&>li>a]:font-bold uppercase overflow-hidden"
    >
      <li>
        <a class="efect" data-title="Inicio" href="#home">Inicio</a>
      </li>

      <li>
        <a class="efect" data-title="Servicios" href="#services">Servicios</a>
      </li>

      <li>
        <a class="efect" data-title="Nosotros" href="#about">Nosotros</a>
      </li>

      <li>
        <a class="efect" data-title="Contacto" href="#contact">Contacto</a>
      </li>

      <li>
        <a class="efect" data-title="Cita" href="#contact">Cita</a>
      </li>
    </ul>
    <ul
      class="desktop flex gap-4 [&>li>a]:text-lg [&>li>a]:uppercase [&>li>a]:font-bold"
    >
      <li>
        <a class="text-slate-800 hover:border-b-2 border-blue-600" href="#home"
          >Inicio
        </a>
      </li>
      <li>
        <a
          class="text-slate-800 hover:border-b-2 border-blue-600"
          href="#services"
          >Servicios
        </a>
      </li>
      <li>
        <a class="text-slate-800 hover:border-b-2 border-blue-600" href="#about"
          >Nosotros
        </a>
      </li>
      <li>
        <a
          class="text-slate-800 hover:border-b-2 border-blue-600"
          href="#contact"
          >Contacto
        </a>
      </li>
      <li>
        <a class="bg-blue-600 text-white p-2 rounded-md" href="#contact"
          >Cita
        </a>
      </li>
    </ul>
    <div class="hamburger hamburger--spring">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
  </nav>
</header>

<script type="module">
  const $ = (etiqueta) => document.querySelector(etiqueta);

  const nav = $('.nav');
  const hamburger = $('.hamburger');

  const link = nav.querySelectorAll('a');
  link.forEach((element) =>
    element.addEventListener('click', () => {
      if (hamburger.classList.contains('is-active')) {
        nav.classList.remove('is-active');
        hamburger.classList.remove('is-active');
      }
    })
  );

  hamburger.addEventListener('click', () => {
    hamburger.classList.toggle('is-active');
    if (hamburger.classList.contains('is-active')) {
      nav.classList.add('is-active');
    } else {
      nav.classList.remove('is-active');
    }
  });
</script>
