---
import CardServices from './ui-components/CardServices.astro';
---

<section class="w-full min-h-screen">
  <div class="service-effect">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="579"
      height="482"
      fill="none"
      viewBox="0 0 979 882"
    >
      <path
        fill="#6CAAF2"
        fill-opacity=".5"
        fill-rule="evenodd"
        d="M842.472 91.42C793.038 38.675 727.744 6.715 658.374 1.307 589.004-4.1 520.125 17.401 464.166 61.931c-58.987-47.3-132.407-68.75-205.475-60.026-73.069 8.723-140.358 46.97-188.316 107.038C22.415 169.012-2.651 246.44.222 325.636c1.257 34.641 7.82 68.495 19.17 100.297H0v80.142h61.44a307.16 307.16 0 0 0 24.42 29.683l278.167 302.39C390.105 866.228 425.455 882 462.312 882s72.207-15.772 98.285-43.852l278.167-302.39c.41-.433.82-.867 1.229-1.302 14.602 12.992 33.323 20.797 53.734 20.797 46.653 0 84.473-40.773 84.473-91.07 0-40.488-24.507-74.805-58.4-86.65a336.939 336.939 0 0 0 6.494-63.113c.345-41.291-6.883-82.248-21.268-120.518-14.385-38.27-35.643-73.098-62.554-102.482ZM433.105 764.175l-239.403-258.1h75.879L329.49 631.85l65.212-185.35 55.612 198.707 117.488-270.444 23.152 131.312H738.34l-239.403 258.1c-4.31 4.684-9.437 8.403-15.087 10.94a43.457 43.457 0 0 1-17.829 3.844c-6.12 0-12.18-1.306-17.83-3.844-5.649-2.537-10.777-6.256-15.086-10.94Zm219.387-338.242H805.5c18.674-33.237 28.776-71.61 28.776-111.094 0-56.296-20.535-110.333-57.173-150.445-37.049-39.437-87.018-61.549-139.083-61.549-52.064 0-102.033 22.112-139.083 61.549-4.31 4.684-9.437 8.403-15.087 10.94a43.457 43.457 0 0 1-17.829 3.844c-6.12 0-12.18-1.306-17.83-3.844-5.649-2.537-10.777-6.256-15.086-10.94-37.05-39.437-87.019-61.549-139.084-61.549-52.064 0-102.033 22.112-139.083 61.549-36.358 40.068-56.717 93.892-56.717 149.945 0 39.677 10.201 78.238 29.057 111.594h187.695l4.291 9.009 83.461-237.217 62.651 223.86 132.552-305.121 54.564 309.469Z"
        clip-rule="evenodd"></path>
    </svg>
  </div>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="80"
      height="50"
      fill="none"
      viewBox="0 0 107 87"
    >
      <path
        stroke="#333"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="7.425"
        d="m83.2 83.2 18.929-18.929a2.97 2.97 0 0 0 .871-2.099V36.175a7.423 7.423 0 0 0-7.425-7.425v0a7.425 7.425 0 0 0-7.425 7.425V58.45"
      ></path>
      <path
        stroke="#333"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="7.425"
        d="M23.8 83.2 4.871 64.271A2.97 2.97 0 0 1 4 62.172V36.175a7.425 7.425 0 0 1 7.425-7.425v0a7.425 7.425 0 0 1 7.425 7.425V58.45M83.2 63.4l4.247-4.247a2.396 2.396 0 0 0-.624-3.841l-2.192-1.094a9.9 9.9 0 0 0-11.425 1.851l-4.43 4.43a9.9 9.9 0 0 0-2.901 7V83.2L83.2 63.4Z"
      ></path>
      <path
        stroke="#333"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="7.425"
        d="m23.8 63.4-4.247-4.247a2.401 2.401 0 0 1-.703-1.698v0c0-.906.515-1.733 1.327-2.143l2.192-1.094a9.9 9.9 0 0 1 11.425 1.851l4.43 4.43a9.9 9.9 0 0 1 2.901 7V83.2L23.8 63.4Zm37.952-19.8H45.248V32.052H33.7V15.548h11.548V4h16.504v11.548H73.3v16.504H61.752V43.6Z"
      ></path>
    </svg>
    <h2>Contamos con la mejor Atencion y <span>Servicios</span></h2>
  </div>
  <div class="services-cards-container">
    <CardServices
      title="Atencion Medica"
      subTitle="Domiciliaria"
      description="readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="73"
        height="59"
        fill="none"
        viewBox="0 0 73 59"
      >
        <path
          fill="#fff"
          d="M36.557 43.515c.468 6.16 3.707 11.532 8.475 14.885h-30.42a7.304 7.304 0 0 1-7.302-7.3V32.804H3.656C1.599 32.804 0 31.196 0 29.143c0-1.027.343-1.94 1.142-2.738L30.386.916c.799-.8 1.711-.915 2.51-.915.798 0 1.71.229 2.406.8l24.25 21.317a21.26 21.26 0 0 0-2.977-.217c-4.836 0-9.273 1.71-12.74 4.563h-6.422v-6.388c0-1.004-.822-1.825-1.928-1.825H30.01c-.901 0-1.825.821-1.825 1.825v6.387h-6.388c-.9 0-1.825.822-1.825 1.826v5.475c0 1.003.924 1.825 1.825 1.825h6.388v6.387c0 1.004.924 1.825 1.825 1.825h5.475c.456 0 .787-.103 1.072-.285Zm.855-7.928h.126c-.046.126-.08.263-.125.388v-.388ZM73 41.975C73 51.043 65.643 58.4 56.575 58.4c-9.068 0-16.425-7.357-16.425-16.425 0-9.068 7.357-16.425 16.425-16.425C65.643 25.55 73 32.907 73 41.975Zm-11.326-4.939L54.75 43.96l-3.274-3.274a1.81 1.81 0 0 0-2.577 0 1.81 1.81 0 0 0 0 2.578l4.562 4.562a1.81 1.81 0 0 0 2.578 0l8.212-8.212a1.81 1.81 0 0 0 0-2.578 1.81 1.81 0 0 0-2.577 0Z"
        ></path>
      </svg>
    </CardServices>

    <CardServices
      title="Atencion Pacientes con"
      subTitle="Covid-19"
      description="readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="83"
        height="54"
        fill="none"
        viewBox="0 0 83 54"
      >
        <path
          fill="#fff"
          fill-rule="evenodd"
          d="M40.89.092a2.073 2.073 0 0 1 1.22 0l26.975 8.3a2.075 2.075 0 0 1 1.465 1.984v2.075h2.075A10.375 10.375 0 0 1 83 22.825v8.3A10.375 10.375 0 0 1 72.625 41.5h-5.096a18.654 18.654 0 0 1-10.161 7.663L42.11 53.858a2.078 2.078 0 0 1-1.22 0l-15.258-4.696a18.654 18.654 0 0 1-10.16-7.662h-5.097A10.375 10.375 0 0 1 0 31.126v-8.3A10.375 10.375 0 0 1 10.375 12.45h2.075v-2.074a2.075 2.075 0 0 1 1.465-1.984L40.89.092ZM12.45 31.314c0 2.096.349 4.13 1 6.036h-3.075a6.225 6.225 0 0 1-6.225-6.225v-8.3a6.225 6.225 0 0 1 6.225-6.224h2.075v14.713Zm57.1 6.036h3.075a6.225 6.225 0 0 0 6.225-6.225v-8.3a6.225 6.225 0 0 0-6.225-6.224H70.55v14.713c0 2.096-.349 4.13-1 6.036Zm-15.6-16.6h-24.9V16.6h24.9v4.15Zm0 12.45h-24.9v-4.15h24.9v4.15Z"
          clip-rule="evenodd"></path>
      </svg>
    </CardServices>

    <CardServices
      title="Medicina General de"
      subTitle="Niños y Adultos"
      description="readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="66"
        height="66"
        fill="none"
        viewBox="0 0 66 66"
      >
        <path
          fill="#fff"
          d="M23.094 42.615v1.924a14.846 14.846 0 1 0 29.692 0v-5.51a9.9 9.9 0 1 1 6.599 0v5.51a21.445 21.445 0 0 1-42.89 0v-1.924A19.802 19.802 0 0 1 0 23.095V6.597A6.598 6.598 0 0 1 6.598 0h3.3a3.299 3.299 0 1 1 0 6.598h-3.3v16.496a13.196 13.196 0 1 0 26.394 0V6.598h-3.3a3.299 3.299 0 1 1 0-6.598h3.3a6.598 6.598 0 0 1 6.598 6.598v16.496a19.802 19.802 0 0 1-16.496 19.521Zm32.992-9.623a3.3 3.3 0 1 0 0-6.599 3.3 3.3 0 0 0 0 6.599Z"
        ></path>
      </svg>
    </CardServices>

    <CardServices
      title="Cotrol de"
      subTitle="niño sano"
      description="readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="70"
        height="62"
        fill="none"
        viewBox="0 0 70 62"
      >
        <path
          fill="#fff"
          d="M41.811 27.252h-3.48V23.77a3.48 3.48 0 1 0-6.962 0v3.48h-3.48a3.48 3.48 0 1 0 0 6.962h3.48v3.48a3.48 3.48 0 1 0 6.962 0v-3.48h3.48a3.48 3.48 0 1 0 0-6.962ZM63.253 6.366A21.894 21.894 0 0 0 34.85 4.313 21.825 21.825 0 0 0 6.446 37.311L27.331 58.37a10.442 10.442 0 0 0 14.759 0l20.885-21.06a21.824 21.824 0 0 0 .278-30.944Zm-4.908 25.966L37.46 53.219a3.482 3.482 0 0 1-4.942 0L11.633 32.333a14.933 14.933 0 0 1 0-20.884 14.863 14.863 0 0 1 20.885 0 3.48 3.48 0 0 0 4.942 0 14.863 14.863 0 0 1 20.885 0 14.933 14.933 0 0 1 0 20.954v-.07Z"
        ></path>
      </svg>
    </CardServices>
  </div>
</section>

<style lang="scss">
  :root {
    --color-secction-bg: #f4f7fd;
    --color-text-white: #fff;
    --color-secction-text: #333;
    --color-blue: #1d4ed8;
    --color-blue-claro: #a8bfff;
  }
  section {
    position: relative;
    margin-top: 30px;
    padding: 0 1.2rem;
    overflow: hidden;

    .service-effect {
      position: absolute;
      top: 120px;
      left: 0;
      z-index: -1;
    }
    div {
      display: flex;
      flex-direction: column;
      svg {
        align-self: center;
      }
      h2 {
        color: var(--color-secction-text);
        font-size: 1.8rem;
        margin-bottom: 1rem;

        font-weight: 800;
        margin-top: 20px;
        span {
          color: var(--color-blue);
          font-weight: 800;
        }
      }
    }

    .services-cards-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 2rem;
    }
  }
</style>
